.main {
    .corel-section {
        .corel-conteiner {
            .corel-content {
                position: relative;

                .corel-img {
                    display: block;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }

                h1 {
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 50px;
                    line-height: 120%;
                    text-transform: uppercase;
                    color: #fff;
                    position: absolute;
                    top: 10%;
                    left: 250px;
                    // transform: translate(-50%, -50%);
                }
            }
        }
    }

    .number-section {
        padding-top: 100px;

        .number-conteiner {
            .number-content {
                display: grid;
                grid-template-columns: 4fr 1fr;
                column-gap: 29px;

                .number__left {
                    &-title {
                        border-radius: 30px;
                        padding: 40px 38px 50px 40px;
                        // width: 1180px;
                        // height: 152px;
                        background: linear-gradient(135deg, #ffa462 0%, #b45350 21.79%, #8a2645 48.93%, #291725 84.55%);

                        p {
                            font-family: var(--font-family);
                            font-weight: 400;
                            font-size: 22px;
                            line-height: 140%;
                            color: #fff;
                            margin: 0;
                        }
                    }

                    .left__conteiner-one {
                        display: flex;
                        // align-items: center;
                        margin: 60px 0 40px 0;
                        // max-width: 1200px;
                        // margin: auto;

                        .one-img {
                            margin-right: 42px;
                        }

                        .content-one {
                            flex: 1;

                            p {
                                font-family: var(--font-family);
                                font-weight: 400;
                                font-size: 22px;
                                line-height: 140%;
                                color: #fff;
                                margin: 0;
                            }
                        }

                        .one-grid {
                            margin: 40px 0 20px 0;
                            display: grid;
                            grid-template-columns: repeat(3, auto);
                            justify-content: start;
                            // row-gap: 20px;
                            gap: 20px;
                            // margin-top: 10px;

                            .grid-cart {
                                border-radius: 12px;
                                width: 268px;
                                height: 62px;
                                display: flex;
                                // flex-direction: row;

                                text-align: center;
                                align-items: center;
                                box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
                                background: #fff;

                                img {
                                    // display: flex;
                                    // flex-direction: row;
                                    // text-align: center;
                                    // align-items: center;
                                    margin: 0 73px;
                                }

                            }
                        }

                        .left-content-text {
                            margin-right: 172px;
                            margin-top: 20px;
                            // font-size: 14px;
                            text-align: right;

                            .left-content-text-p {
                                font-family: var(--font-family);
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 140%;
                                text-align: right;
                                color: #fff;
                            }
                        }
                    }

                    .left-title {
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 140%;
                        color: #fff;
                    }

                    .left__conteiner-two {
                        display: flex;
                        margin: 32px 0;

                        .two-img {
                            margin-right: 42px;
                        }

                        .content-two {
                            flex: 1;

                            p {
                                font-family: var(--font-family);
                                font-weight: 400;
                                font-size: 22px;
                                line-height: 140%;
                                color: #fff;
                            }

                        }
                    }

                    .left__conteiner-three {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-top: 20px;

                        .three-img {
                            display: flex;
                            align-items: center;

                            .content-three {
                                flex: 1;
                                margin-left: 42px;

                                p {
                                    font-family: var(--font-family);
                                    font-weight: 400;
                                    font-size: 22px;
                                    line-height: 140%;
                                    color: #fff;
                                }

                            }
                        }



                        .three-block-img {
                            display: flex;
                            // justify-content: center;
                            text-align: center;
                            align-items: center;
                            margin: 28px 240px 48px 240px;
                            gap: 90px;

                            img {
                                width: 100%;
                            }
                        }

                        .threee-text {
                            font-family: var(--font-family);
                            font-weight: 400;
                            font-size: 22px;
                            line-height: 140%;
                            color: #fff;
                        }

                        .three-block-img1 {
                            // margin-top: 30px;

                            .block-icon {
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                position: relative;
                                // margin: 50px auto;

                                .icon {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    position: relative;

                                    img {
                                        width: 97px;
                                        height: 97px;
                                        // border-radius: 50%;
                                        // background-color: #fff;
                                        padding: 10px;
                                        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
                                    }
                                }

                                .icon-center {
                                    text-align: center;
                                    margin-left: 15%;
                                    // position: absolute;
                                    // top: 10%;
                                    // left: 0;
                                }

                                .icon-right {
                                    position: absolute;
                                    top: 90px;
                                    right: 5%;
                                }

                                .icon-left {
                                    position: absolute;
                                    top: 90px;
                                    left: 28%;
                                }

                                .arrow {
                                    position: absolute;
                                    top: 50px;
                                    width: 150px;
                                    height: 40px;
                                }

                                .left-arrow {
                                    position: absolute;
                                    top: 50%;
                                    left: 40%;
                                }

                                .right-arrow {
                                    position: absolute;
                                    top: 50%;
                                    right: 26%;
                                }
                            }

                            .block-cart {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                margin-top: 50px;
                                gap: 20px;

                                img:nth-child(4) {
                                    margin-left: 140px;
                                }
                            }
                        }
                    }

                    .left__conteiner-five {
                        display: flex;
                        margin-top: 80px;

                        .five-img {
                            margin-right: 42px;
                        }

                        .content-five {
                            flex: 1;

                            p {
                                font-family: var(--font-family);
                                font-weight: 400;
                                font-size: 22px;
                                line-height: 140%;
                                color: #fff;
                            }

                        }
                    }

                    .left__conteiner-four {
                        display: flex;
                        margin-top: 80px;

                        .four-img {
                            margin-right: 42px;
                        }

                        .content-four {
                            flex: 1;

                            p {
                                font-family: var(--font-family);
                                font-weight: 400;
                                font-size: 22px;
                                line-height: 140%;
                                color: #fff;
                            }

                        }
                    }

                }

                .number__right {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }
    }

    .text-section {
        padding: 130px 0 80px 0;
        .text-conteiner {
            .text-content {
                p {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 140%;
                    color: #fff;
                }
            }
        }
    }
    .slider1-section {
        .slider1-conteiner {
            .slider1-content {
                .mySwiper1 {
                    .swiper {
                        width: 100%;
                        height: 100%;
                      }
                    .swiper-wrapper {
                        .swiper-slide {
                            border-radius: 20px;
                            width: 402px;
                            height: 280px;
                            text-align: center;
                            // font-size: 18px;
                            // background: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                            border-radius: 20px;

                                display: block;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                gap: 20px;
                              }
                        }
                    }
                }
            }
        }
    }
    .slider2-section {
        margin-top: 20px;
        .slider2-conteiner {
            .slider2-content {
                .mySwiper2 {
                    .swiper {
                        width: 100%;
                        height: 100%;
                      }
                    .swiper-wrapper {
                        .swiper-slide {
                            border-radius: 20px;
                            width: 402px;
                            height: 280px;
                            text-align: center;
                            // font-size: 18px;
                            // background: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                            border-radius: 20px;

                                display: block;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                gap: 20px;
                              }
                        }
                    }
                }
            }
        }
    }
}