html {
    box-sizing: border-box;
    max-width: 1920px;
    padding: 0 auto;
    background: #171422;
  }
.conteiner{
  max-width: 88.75rem;
  margin: 0 auto;
}
  :root {
    --font-family: "Gotham Pro", sans-serif;
    --second-family: "Abel", sans-serif;
  }
