@font-face {
    font-family: 'Gotham Pro';
    src:local("GothamPro-Bold"),
    url('../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abel';
    src: local("Abel-Regular"),
     url('../fonts/Abel-Regular.woff2') format('woff2'),
        url('../fonts/Abel-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local("/GothamPro-Medium"),

    url('../fonts/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local("/GothamPro-Regular"),

     url('../fonts/GothamPro-Regular.woff2') format('woff2'),
        url('../fonts/GothamPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
