.card-cat {
    width: 220px;
    height: 220px;
    position: relative;
    // gap: 10px;

    .cat-block {

        .cat-img {
            width: 100%;
            // border-radius: 0 0 14px 14px;
            // width: 220px;
            // height: 110px;
            // background: linear-gradient(180deg, rgba(23, 20, 34, 0) 0%, rgba(23, 20, 34, 0.9) 100%);

        }
    }

    .cart-block {
        position: relative;
        bottom: 30%;
        left: 0;
        align-items: center;
        display: flex;
        justify-content: space-between;
        text-align: center;
        border: 0.96px solid #fff;
        border-radius: 24px;
        width: 207px;
        height: 35px;
        box-shadow: 2px 2px 10px 0 rgba(255, 255, 255, 0.8);

        .cat-desc {
            margin-left: 20px;
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 9px;
            line-height: 140%;
            text-transform: uppercase;
            text-align: center;
            color: #fff;

            span {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 13px;
                line-height: 140%;
                text-align: center;
                color: #fff;
            }
        }

        .cart-svg {
            text-align: center;
            display: flex;
            align-items: center;
            border-radius: 50px;
            width: 35px;
            height: 35px;
            background: linear-gradient(132deg, #df5017 0%, #f9cb74 100%);
            box-shadow: inset 2px 2px 3px 0 rgba(255, 255, 255, 0.5), 2px 2px 10px 0 #df5017;

            svg {
                margin: 18px 10px 18px 10px;

            }
        }
    }
}